= form_with(model: @timer, class: 'manual_timer_form') do |form|
  = form.date_field :day, id: 'manual_day', value: Time.now.strftime("%Y-%m-%d")
  input type='time' name='timer[counter]' 
  = button_to '完了'
